.form-container{
  max-width: 100%;
  margin: 0 auto;
  display: inline-block;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.email-label {
  margin-bottom: 2%;
}

.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.password-label {
  margin-bottom: 2%;
}

button {
  cursor: pointer;
}
