.app {
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-image {
  max-width: 100%;
  align-self: flex-start;
  text-align: left;
}
 
.login-page{
  display: block;
  padding-top:20vh;
}